@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Sacramento&display=swap');

:root {
    --dark-blue: #27374D;
    --medium-blue: #526D82;
    --light-blue: #9DB2BF;
    --gray: #DDE6ED;
    --title-font: 'Montserrat', sans-serif;
    --cursive-font: 'Sacramento', cursive;
}

body {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li a {
    font-family: var(--cursive-font);
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;;
    color: var(--gray);
    padding: 20px 10px 15px 10px;
}

header ul li a:hover {
    color: var(--light-blue);
    transition: color .3s;
}

#main-link {
    color: var(--dark-blueblue);
    font-family: var(--title-font);
    font-weight: 800;
    background-color: var(--light-blue);
}

#main-link:hover {
    color: var(--dark-blue);
    background-color: var(--gray);
    transition: background-color .3s;
}

.logo img{
    height: 44px;
    width: 100px;
    margin: 10px 0 10px 20px;
}

header,
.who-am-i {
    background-color: var(--dark-blue);
}

.who-am-i {
    display: flex;
    align-items: center;
    height: 605px;
    width: 100%;
}

.who-am-i #container-text {
    margin-left: 20px;
    color: var(--gray);
}

.who-am-i #container-text h2 {
    font-family: var(--cursive-font);
    font-size: 80px;
    margin-bottom: 15px;
}

.who-am-i #container-text p {
    font-family: var(--title-font);
    font-size: 20px;
}

#expand {
    margin-top: 20px;
    padding: 10px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px var(--dark-blue);
    background-color: var(--light-blue);
    color: var(--dark-blue);
    cursor: pointer;
}

#expand:hover {
    background-color: var(--gray);
    transition: background-color .3s;
}

#myStory {
    display: none;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px 60px 0;
    background-color: var(--medium-blue);
}

#courses-title {
    background-color: var(--medium-blue);
    font-family: var(--cursive-font);
    font-size: 80px;
    color: var(--gray);
    text-align: center;
    padding-top: 15px;
}

.card-course {
    font-family: var(--title-font);
    color: var(--dark-blue);
    width: 300px;
    height: 360px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--light-blue);
    cursor: pointer;
}

.card-course:hover {
    background-color: var(--gray);
    transform: scale(1.1);
    transition: background-color .3s;
}

.course-name {
    font-size: 24px;
}

.course-text {
    font-size: 15px;
}

.container-cards img {
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
}

.sts-depo-container {
    background-color: var(--light-blue);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#depo-title {
    background-color: var(--light-blue);
    font-family: var(--cursive-font);
    font-size: 80px;
    color: var(--gray);
    text-align: center;
    padding-top: 15px;
}

.depo-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--medium-blue);
    margin: 20px 5px 10px 5px;
}

figure {
    text-align: center;
}

figure figcaption {
    font-size: 16px;
    color: var(--dark-blue);
    font-family: var(--title-font);
    margin: 0;
    text-align: center;
}

.depo-print {
    margin: 15px 10px 15px 10px;
    background-color: white;
    border: 3px solid var(--medium-blue);
    border-radius: 6px;
}

